<div *ngIf="video" class="container">
  <h1 class="mt-2 mb-5">{{video.title}}</h1>
  <div [innerHTML]="video.html|htmlsanitize"></div>
  <div class="row">
    <div class="col">
      <p>{{display.Text}}</p>
    </div>
    <div class="col">
      <p>{{display.Num}}</p>
    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <input type="text" class="me-4" [value]="dInput.Text" (input)="changeText($event)">
    </div>
    <div class="col">
      <input type="number" class="me-4" [value]="dInput.Num" (input)="changeNum($event)">
      <button type="btn" class="btn btn-secondary" (click)="save()">
        Save
      </button>
    </div>
  </div>
</div>