button.slideButton {
  margin-top: 1.5rem;
  border: none !important;
  height: 5px;
  border-radius: 3px;
  background-color: var(--gray);

  &.active {
    background-color: var(--pink);
  }

  &:not(.active) {
    transition-property: background-color;
    transition-duration: 0.5s;
  }
}

button.carousel-control {
  opacity: 1;
  color: var(--gray);

  &:hover {
    color: var(--black);
  }

  &:active {
    color: var(--pink);
  }
}
