button.filterLink {
  background-color: transparent;
  border: none;
  font-family: "Montserrat", Arial, sans-serif;
  color: var(--black);
  font-size: large;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: var(--blue);
    font-family: "Montserrat-Bold", Arial, sans-serif;
  }

  &.active {
    font-family: "Montserrat-Bold", Arial, sans-serif;
  }
}
