.btn-link {
  color: black;
  text-decoration: none;
  font-family: "Montserrat", Arial, sans-serif;
}

.btn-link:hover {
  color: darkslategray;
}

.overlayText {
  color: white;
  font-size: large;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.portfolioSection {
  margin-bottom: 5rem !important;
}