<input *ngIf="typeOf(obj)==='number'" class="w-100 montserrat" type="number" [value]="obj"
  (input)="changeNumber(key, $event)">

<input *ngIf="typeOf(obj)==='boolean'" type="checkbox" [checked]="obj"
  (change)="changeCheckbox(key, $event)">

<textarea *ngIf="typeOf(obj)==='string'" class="w-100 montserrat" [value]="obj"
  (input)="changeText(key, $event); styleTextarea($event.target, '');"
  (focus)="changeText(key, $event); styleTextarea($event.target, '');">
</textarea>

<textarea *ngIf="typeOf(obj)==='object'" class="w-100 montserrat" [value]="json(obj)"
  (input)="changeObject(key, $event)" (focus)="changeObject(key, $event)">
</textarea>