<input
  #inputRef
  *ngIf="type === 'number'"
  class="w-100 montserrat"
  type="number"
  [defaultValue]="obj"
  (blur)="changeNumber(key, $event)"
/>

<input
  #inputRef
  *ngIf="type === 'boolean'"
  type="checkbox"
  [defaultChecked]="obj"
  (change)="changeCheckbox(key, $event)"
/>

<textarea
  #inputRef
  *ngIf="type === 'string'"
  class="w-100 montserrat"
  [defaultValue]="obj"
  (blur)="changeText(key, $event)"
></textarea>

<textarea
  #inputRef
  *ngIf="type === 'object'"
  class="w-100 montserrat"
  [defaultValue]="jsonObj"
  (blur)="changeObject(key, $event)"
></textarea>
