<app-fullscreen-menu></app-fullscreen-menu>

<div [ngStyle]="{
    'margin-top.px': isHomepage
      ? (isSmallScreen ? 60 : 0)
      : (isSmallScreen ? 150 : 160)
  }">
  <ng-container *ngIf="page.tiles.length > 0; else spinner">
    <app-tile-switch-statement *ngFor="let tile of page.tiles" [tile]="tile"></app-tile-switch-statement>

    <app-project-navigation *ngIf="page.type === PageType.Project" [currentProjectLink]="page.route">
    </app-project-navigation>
  </ng-container>

  <ng-template #spinner>
    <div *ngIf="!pageNotFound; else pnf" [style.margin-top]="'5rem'">
      <div class="text-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading Portfolio...</span>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #pnf>
    <app-page-not-found></app-page-not-found>
  </ng-template>
</div>