<app-fullscreen-menu></app-fullscreen-menu>

<div [ngStyle]="{
    'margin-top.px': isHomepage
      ? (isSmallScreen ? 60 : 0)
      : (isSmallScreen ? 150 : 160)
  }">

  <ng-container *ngIf="activeStep === PageDisplayStep.PageContent">
    <app-tile-switch-statement *ngFor="let tile of page.tiles" [tile]="tile"></app-tile-switch-statement>

    <app-project-navigation *ngIf="page.type === PageType.Project" [currentProjectLink]="page.route">
    </app-project-navigation>
  </ng-container>

  <div *ngIf="activeStep === PageDisplayStep.Loading" [style.margin-top]="'5rem'">
    <div class="text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading Portfolio...</span>
      </div>
    </div>
  </div>

  <app-page-not-found *ngIf="activeStep === PageDisplayStep.NotFound">
  </app-page-not-found>

</div>