$pink: #ff00d8;
$blue: #0082fe;
$green: #00ffc3;

//DARK MODE
$black: #eeefef;
$true-black: #000101;
$white: #000101;
$true-white: #eeefef;
$gray: #777777;
$lightgray: rgb(45, 45, 45, 0.9); //skills section bg
$shadow-gray: rgb(45, 45, 45, 0.5);

$hover-link-default-gray: #333333;
$hover-link-background: rgba(225, 225, 225, 0.5);
$menu-background: rgba(225, 225, 225, 0.75);

// //LIGHT MODE
// $black: #000101;
// $true-black: #000101;
// $white: #eeefef;
// $true-white: #eeefef;
// $gray: #777777;
// $lightgray: rgb(225, 225, 225, 0.9); //skills section bg
// $shadow-gray: rgb(225, 225, 225, 0.75);

// $hover-link-default-gray: #DDDDDD;
// $hover-link-background: rgba(45, 45, 45, 0.3);
// $menu-background: rgba(45, 45, 45, 0.9);

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "pink": $pink,
    "blue": $blue,
    "green": $green,
    "black": $black,
    "true-black": $true-black,
    "white": $white,
    "true-white": $true-white,
    "gray": $gray,
    "lightgray": $lightgray,
    "hover-link-default-gray": $hover-link-default-gray,
    "shadow-gray": $shadow-gray,
    "hover-link-background": $hover-link-background,
    "menu-background": $menu-background,
  ),
  $theme-colors
);

@mixin deprecate(
  $name,
  $deprecate-version,
  $remove-version,
  $ignore-warning: false
) {
  @if ($enable-deprecation-messages != false and $ignore-warning != true) {
    @warn "#{$name} has been deprecated as of #{$deprecate-version}. It will be removed entirely in #{$remove-version}.";
  }
}

@mixin text-variant($parent, $color, $ignore-warning: false) {
  #{$parent} {
    color: $color !important;
  }

  a#{$parent},
  button#{$parent} {
    &:hover,
    &:focus {
      color: darken($color, 10%) !important;
    }
  }

  @include deprecate(
    "The `text-variant` mixin",
    "v4.4.0",
    "v5",
    $ignore-warning
  );
}

@mixin bg-variant($parent, $color, $ignore-warning: false) {
  #{$parent} {
    background-color: $color !important;
  }

  a#{$parent},
  button#{$parent} {
    &:hover,
    &:focus {
      background-color: darken($color, 10%) !important;
    }
  }
  @include deprecate("The `bg-variant` mixin", "v4.4.0", "v5", $ignore-warning);
}

:root {
  @each $color, $value in $theme-colors {
    --#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors {
    @include text-variant(".text-#{$color}", $value, true);
  }

  @each $color, $value in $theme-colors {
    @include bg-variant(".bg-#{$color}", $value, true);
  }
}
