<div
  [ngClass]="{ container: !tile.width || tile.width !== Width.FULL }"
  [ngStyle]="{ 'margin-bottom.rem': tile.mb ?? 0 }"
>
  <app-row-width-adjust
    [width]="tile.width"
    [ngClass]="{
      'mx-4': tile.width === Width.FULL && !isMediumScreen,
      'mx-0': tile.width === Width.FULL && isMediumScreen
    }"
  >
    <div *ngIf="!isMediumScreen" class="col-12 position-relative">
      <app-image
        class="float-end w-50 ms-2 mb-2"
        [image]="Image"
        [enableOverlay]="Image.overlay!"
      ></app-image>
      <p [class]="tile.textClass" [innerText]="tile.text"></p>
    </div>

    <ng-container *ngIf="isMediumScreen">
      <div class="col-12 mb-4 position-relative">
        <app-image [image]="Image" [enableOverlay]="Image.overlay!"></app-image>
      </div>

      <div class="col-12">
        <p [class]="tile.textClass" [innerText]="tile.text"></p>
      </div>
    </ng-container>

    <ng-template #noImages>
      <h2 [class]="tile.textClass">No image</h2>
    </ng-template>
  </app-row-width-adjust>
</div>
