<app-container-with-margins [width]="tile.width" [mt]="tile.mt" [mb]="tile.mb">
  <app-row-width-adjust [width]="tile.width" [className]="
      (tile.width === Width.FULL && !isMediumScreen ? 'mx-4 ' : '') +
      (tile.width !== Width.FULL || isMediumScreen ? 'mx-0 ' : '')
    ">
    <div *ngIf="!isSmallScreen" class="col-12 position-relative">
      <app-image class="float-end w-50 ms-4 mb-2" style="max-width: 500px" [image]="image"></app-image>
      <p *ngIf="tile.text" [class]="tile.textClass" [innerHtml]="tile.text"></p>
    </div>

    <ng-container *ngIf="isSmallScreen">
      <div class="col-12 mb-4 position-relative">
        <app-image [image]="image"></app-image>
      </div>

      <div class="col-12">
        <p [class]="tile.textClass" [innerHtml]="tile.text"></p>
      </div>
    </ng-container>

    <ng-template #noImages>
      <h2 [class]="tile.textClass">No image</h2>
    </ng-template>
  </app-row-width-adjust>
</app-container-with-margins>