$square-size: 15vw;

.thumbnail-size {
  width: $square-size;
  height: $square-size;
  position: relative;
}

h4,
p {
  text-align: center;
}

.overlay-box {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.65);
}

.image-container img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: crosshair;
  object-fit: cover;
  position: relative;
}

.image-container img.square {
  z-index: 1;
}

.image-container img.preview {
  z-index: 9;
}

canvas {
  height: $square-size;
  width: $square-size;
}