<nav id="navbar" class="navbar {{menuOpen ? 'background-fade' : ''}}">
  <div class="container position-relative">
    <a class="navbar-brand mx-auto" routerLink="/" (mouseover)="navLinkSelection='light'"
      (mouseout)="navLinkSelection='dark'">
      <img [src]="navbarLinks[navLinkSelection]" alt="[Ryan Fennessey]" height="125">
    </a>
    <div class="position-absolute end-0">
      <input type="checkbox" id="navbar-menu" [checked]="menuOpen" (change)="clickMenuButton()">
      <label id="navbar-menu-icon" for="navbar-menu">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
  </div>
</nav> <!-- navbar -->