.fitContentWidth {
  width: fit-content;
}

a.navLink {
  text-decoration: none;
  font-size: large;
}

a.navLink:hover {
  border-bottom: 3px solid black;
  font-family: "Montserrat-Bold", Arial, sans-serif;
}


// MENU SWOOP UP ANIMATION

$menu-swoop-transition-time: .3s;

.fullscreenMenu {
  z-index: 9000;
  padding-top: 140px;
  margin-top: 100vh;

  -webkit-transition: margin-top $menu-swoop-transition-time ease-in-out;
  -moz-transition: margin-top $menu-swoop-transition-time ease-in-out;
  -o-transition: margin-top $menu-swoop-transition-time ease-in-out;
  transition: margin-top $menu-swoop-transition-time ease-in-out;
}


// MENU LINK HOVER ANIMATION

$menulink-hover-transform-size: 1.3;
$hover-transition-time: .3s;

a.menuLink {
  color: lightgray;
  text-decoration: none;
  font-size: xx-large;
  cursor: pointer;

  -webkit-transition: color $hover-transition-time ease-in-out, transform $hover-transition-time ease-in-out;
  -moz-transition: color $hover-transition-time ease-in-out, transform $hover-transition-time ease-in-out;
  -o-transition: color $hover-transition-time ease-in-out, transform $hover-transition-time ease-in-out;
  transition: color $hover-transition-time ease-in-out, transform $hover-transition-time ease-in-out;
}

a.menuLink:hover {
  -webkit-transform: scale($menulink-hover-transform-size);
  -moz-transform: scale($menulink-hover-transform-size);
  -o-transform: scale($menulink-hover-transform-size);
  transform: scale($menulink-hover-transform-size);

  color: white;
  text-shadow: 0px 0px 50px lightgray;
}


// SCALE MENU BUTTON HOVER ANIMATION

$menu-transform-size: 1.3;
$menu-scale-transition-time: .3s;

.menuIcon {
  position: fixed;
  right: 7vw;
  top: 25px;
  z-index: 10000;
  
  -webkit-transition: transform $menu-scale-transition-time ease-in-out;
  -moz-transition: transform $menu-scale-transition-time ease-in-out;
  -o-transition: transform $menu-scale-transition-time ease-in-out;
  transition: transform $menu-scale-transition-time ease-in-out;
}

.menuIcon:hover {
  -webkit-transform: scale($menu-transform-size);
  -moz-transform: scale($menu-transform-size);
  -o-transform: scale($menu-transform-size);
  transform: scale($menu-transform-size);
}


// SCALE IMAGE ON HOVER/SCROLL ANIMATION

$img-hover-transform-size: 1.2;
$img-scroll-transition-time: .25s;
$img-scale-transition-time: .3s;

.scaleImage:hover {
  -webkit-transform: scale($img-hover-transform-size);
  -moz-transform: scale($img-hover-transform-size);
  -o-transform: scale($img-hover-transform-size);
  transform: scale($img-hover-transform-size);
}

.scaleImage {
  position: relative;
  border-radius: 8px;
  cursor: pointer;

  -webkit-transition: height $img-scroll-transition-time ease-in-out, transform $img-scale-transition-time ease-in-out;
  -moz-transition: height $img-scroll-transition-time ease-in-out, transform $img-scale-transition-time ease-in-out;
  -o-transition: height $img-scroll-transition-time ease-in-out, transform $img-scale-transition-time ease-in-out;
  transition: height $img-scroll-transition-time ease-in-out, transform $img-scale-transition-time ease-in-out;
}


// CENTER BRAND ICON - ANIMATION ON SMALL SCREENS ONLY

.brandIcon {
  position: fixed;
  left: 7vw;
  top: 25px;
  z-index: 10000;

  -webkit-transition: right $img-scroll-transition-time ease-in-out;
  -moz-transition: right $img-scroll-transition-time ease-in-out;
  -o-transition: right $img-scroll-transition-time ease-in-out;
  transition: right $img-scroll-transition-time ease-in-out;
}


// CREATE AND ANIMATE HAMBURGER MENU
// https://w3codepen.com/howto-html-css-hamburger-menu-icon/

$menu-click-transition-time: .3s;

input[type="checkbox"]#navbar-menu {
  display: none;
}

#navbar-menu-icon {
  border-radius: 8px;
  cursor: pointer;
}

#navbar-menu-icon {
  -webkit-transition: background-color $menu-click-transition-time ease-in-out;
  -moz-transition: background-color $menu-click-transition-time ease-in-out;
  -o-transition: background-color $menu-click-transition-time ease-in-out;
  transition: background-color $menu-click-transition-time ease-in-out;
}

#navbar-menu-icon span {
  display: block;
  position: relative;
  left: 0px;
  height: 4px;
  width: 30px;
  border-radius: 2px;
  margin: 4px;
  background: black;
}

$translate-down: 8px;
$translate-up: -1 * $translate-down;

#navbar-menu:checked~#navbar-menu-icon span:nth-child(1) {
  background: white;
  -webkit-transform: translate(0px, $translate-down) rotate(135deg);
  -moz-transform: translate(0px, $translate-down) rotate(135deg);
  -o-transform: translate(0px, $translate-down) rotate(135deg);
  transform: translate(0px, $translate-down) rotate(135deg);
}

#navbar-menu:checked~#navbar-menu-icon span:nth-child(2) {
  background: white;
  opacity: 0;
  left: -25px;
}

#navbar-menu:checked~#navbar-menu-icon span:nth-child(3) {
  background: white;
  -webkit-transform: translate(0px, $translate-up) rotate(-135deg);
  -moz-transform: translate(0px, $translate-up) rotate(-135deg);
  -o-transform: translate(0px, $translate-up) rotate(-135deg);
  transform: translate(0px, $translate-up) rotate(-135deg);
}

#navbar-menu-icon span {
  -webkit-transition: $menu-click-transition-time ease-in-out;
  -moz-transition: $menu-click-transition-time ease-in-out;
  -o-transition: $menu-click-transition-time ease-in-out;
  transition: $menu-click-transition-time ease-in-out;
}
