<div class="fullscreenMenu position-fixed background-fade w-100 h-100"
  [ngStyle]="{'margin-top.vh': isMenuOpen ? 0 : 100}" (window:resize)="onResize()">
  <div class="container">
    <div *ngFor="let option of menuData" class="text-center mb-3 row">
      <a *ngIf="option.route" class="montserrat-bold px-3 py-1 menuLink" [routerLink]="'/'+option.route"
        (click)="closeMenu($event)">{{option.title}}</a>
      <a *ngIf="option.url" [href]="option.url" class="montserrat-bold px-3 py-1 menuLink" target="_blank"
        rel="noopener noreferrer">{{option.title}}</a>
    </div>
  </div>
</div>

<div class="brandIcon text-center" [ngStyle]="{'right.vw': isSmallScreen && isAtTop ? '7' : '100'}">
  <div class="fitContentWidth mx-auto">
    <img class="scaleImage" [src]="brandSelection|keyToS3" alt="[Ryan Fennessey]"
      [ngStyle]="{'height.px': !isAtTop ? 50 : isSmallScreen ? 80 : 100}"
      routerLink="/" (click)="clickBrand()">

    <div [ngClass]="{'mt-2': !isSmallScreen}" [ngStyle]="{'display': isHomepage ? 'none' : ''}">
      <a *ngIf="!isSmallScreen; else closeButton" class="montserrat navLink" routerLink="/"
        [ngStyle]="{'color': isMenuOpen ? 'white' : 'black', 'border-color': isMenuOpen ? 'white' : 'black'}"
        (click)="setMenuOpen(false)">
        Back
      </a>

      <ng-template #closeButton>
        <button *ngIf="!isMenuOpen" routerLink="/" type="button" class="btn-close w-100" aria-label="Close"
          (click)="setMenuOpen(false)"></button>
      </ng-template>
    </div>
  </div>
</div>

<div class="menuIcon">
  <input type="checkbox" id="navbar-menu" [checked]="isMenuOpen" disabled>
  <label id="navbar-menu-icon" for="navbar-menu" class="p-1"
    [ngStyle]="{'background-color' : isMenuOpen ? '' : 'white'}" (mousedown)="clickMenuButton()">
    <span></span>
    <span></span>
    <span></span>
  </label>
</div>