<div
  class="grid-image-container"
  [ngStyle]="{ 'margin-bottom.rem': tile.mb ?? 0 }"
>
  <app-image
    className="homepage-logo-bg"
    [image]="{
      s3Key: 'static/Homepage Visual/Homepage_Grid_only-04.png',
      order: 1
    }"
  ></app-image>

  <app-image
    className="homepage-logo"
    [image]="{ s3Key: 'static/Homepage Visual/Homepage_Logo-03.svg', order: 1 }"
  ></app-image>

  <div class="shapes">
    <div class="">
      <app-image
        className="homepage-icon"
        [image]="{
          s3Key: 'static/Homepage Visual/Cube_banner.gif',
          order: 1
        }"
      ></app-image>
    </div>

    <div class="">
      <app-image
        className="homepage-icon"
        [image]="{
          s3Key: 'static/Homepage Visual/StripedSphere_banner.gif',
          order: 1
        }"
      ></app-image>
    </div>

    <div class="">
      <app-image
        className="homepage-icon"
        [image]="{
          s3Key: 'static/Homepage Visual/TriangularPrism_banner.gif',
          order: 1
        }"
      ></app-image>
    </div>

    <div class="">
      <app-image
        className="homepage-icon"
        [image]="{
          s3Key: 'static/Homepage Visual/Neuron_banner.gif',
          order: 1
        }"
      ></app-image>
    </div>
  </div>
</div>

<div
  class="grid-image-container"
  *ngIf="false"
  [ngStyle]="{ 'margin-bottom.rem': tile.mb ?? 0 }"
>
  <app-image
    className="homepage-logo-bg"
    [image]="{
      s3Key: 'static/Homepage Visual/Homepage_Grid_wShapes-01.png',
      order: 1
    }"
  ></app-image>
  <app-image
    className="homepage-logo"
    [image]="{ s3Key: 'static/Homepage Visual/Homepage_Logo-03.svg', order: 1 }"
  ></app-image>
</div>
