<div [class]="containerClass || 'w-100 text-center position-relative'" [ngClass]="{ padBox: hasShadow, imgBox: image.link }" appTrackViewPort
  (isAtTop)="loadImageOnScroll($event)" (mouseenter)="mouseIn = true" (mouseleave)="mouseIn = false" (click)="conditionalGoToImageRoute()">
  <img [src]="image.s3Key | keyToS3" [alt]="image.s3Key | filename" [class]="className" [ngClass]="{
      customShadow: hasShadow,
      invisible: loading,
      scaleImg: image.scale
    }" [ngStyle]="{
      width: image.icon && !isSmallScreen ? '12rem' : '100%',
      cursor: image.link ? 'pointer' : 'auto'
    }" />

  <!-- Image/gif overlay -->
  <div class="position-absolute w-100 h-100 top-0 left-0 right-0 bottom-0" *ngIf="image.hoverS3Key && mouseIn">
    <img [src]="image.hoverS3Key | keyToS3" [alt]="image.hoverS3Key | filename" [ngClass]="{
      customShadow: hasShadow,
      invisible: loading,
      scaleImg: image.scale
    }" [class]="className" (click)="mouseIn = false" />
  </div>

  <!-- Link/URL overlay -->
  <div class="position-absolute w-100 h-100 top-0 left-0 right-0 bottom-0 align-items-center justify-content-center d-flex p-3 overlayContainer"
    style="cursor: pointer" *ngIf="image.link || image.url">
    <p class="montserrat-bold fs-2 p-4 hover-link-light">{{ image.link ?? image.url ?? '' }}</p>

    <!-- <a *ngIf="image.link && !image.url" class="montserrat-bold p-4 navLink" [ngStyle]="{ 'font-size': isSmallScreen ? 'x-large' : 'xx-large' }">
      {{ image.link }}
    </a>

    <a *ngIf="image.url" class="montserrat-bold p-4 navLink" [ngStyle]="{ 'font-size': isSmallScreen ? 'x-large' : 'xx-large' }" [href]="image.url"
      target="_blank" rel="noopener noreferrer">
      {{ image.link ?? image.url ?? '' }}
    </a> -->
  </div>

  <!-- Loading overlay -->
  <div class="position-absolute bottom-0 left-0 pe-2 w-100" [hidden]="!loading">
    <div class="row w-100 h-100 text-center align-items-center">
      <div class="col-12">
        <div class="spinner-border text-secondary" role="status">
          <span class="visually-hidden">Loading Image...</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="image.subtitle" class="w-100 text-center mt-3">
  <p [innerText]="image.subtitle"></p>
</div>