img {
  max-width: 100%;
}

.padBox {
  padding: 10px;
}

.overlayBox {
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.navLink {
  color: white;
  font-size: x-large;
}

a {
  text-decoration: none;
}


// LOAD IMAGE ANIMATION

.imgBox.invisible {
  opacity: 0;
}

$imgload-transform-factor: .5;

img.invisible {
  -webkit-transform: scale($imgload-transform-factor);
  -moz-transform: scale($imgload-transform-factor);
  -o-transform: scale($imgload-transform-factor);
  transform: scale($imgload-transform-factor);
}

$imgload-transition-time: .5s;

.imgBox {
  -webkit-transition: opacity $imgload-transition-time ease-in-out;
  -moz-transition: opacity $imgload-transition-time ease-in-out;
  -o-transition: opacity $imgload-transition-time ease-in-out;
  transition: opacity $imgload-transition-time ease-in-out;
}

img {
  -webkit-transition: transform $imgload-transition-time ease-in-out;
  -moz-transition: transform $imgload-transition-time ease-in-out;
  -o-transition: transform $imgload-transition-time ease-in-out;
  transition: transform $imgload-transition-time ease-in-out;
}


// OVERLAY HOVER ANIMATION

.overlayContainer {
  opacity: 0;
}

a.imgBox:hover + .overlayContainer,
.overlayContainer:hover {
  opacity: 1;
}

$overlayhover-transition-time: .25s;

.overlayContainer {
  -webkit-transition: opacity $overlayhover-transition-time ease-in-out;
  -moz-transition: opacity $overlayhover-transition-time ease-in-out;
  -o-transition: opacity $overlayhover-transition-time ease-in-out;
  transition: opacity $overlayhover-transition-time ease-in-out;
}


// SCALE IMAGE AND LINK ON HOVER ANIMATION

.navLink:hover {
  font-size: xx-large;
}

.scaleImg:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

$scalelink-transition-time: .25s;

.navLink {
  -webkit-transition: font-size $scalelink-transition-time ease-in-out;
  -moz-transition: font-size $scalelink-transition-time ease-in-out;
  -o-transition: font-size $scalelink-transition-time ease-in-out;
  transition: font-size $scalelink-transition-time ease-in-out;
}

$scaleimg-transition-time: .25s;

.scaleImg {
  -webkit-transition: transform $scaleimg-transition-time ease-in-out;
  -moz-transition: transform $scaleimg-transition-time ease-in-out;
  -o-transition: transform $scaleimg-transition-time ease-in-out;
  transition: transform $scaleimg-transition-time ease-in-out;
}
