img {
  max-width: 100%;
}

.padBox {
  padding: 10px;
}

// LOAD/SCROLL IMAGE ANIMATION

$img-load-transform-size: 0.5;
$img-load-transition-time: 0.5s;

img.invisible {
  opacity: 0;

  -webkit-transform: scale($img-load-transform-size);
  -moz-transform: scale($img-load-transform-size);
  -o-transform: scale($img-load-transform-size);
  transform: scale($img-load-transform-size);
}

img {
  -webkit-transition: transform $img-load-transition-time ease-in-out,
    opacity $img-load-transition-time ease-in-out;
  -moz-transition: transform $img-load-transition-time ease-in-out,
    opacity $img-load-transition-time ease-in-out;
  -o-transition: transform $img-load-transition-time ease-in-out,
    opacity $img-load-transition-time ease-in-out;
  transition: transform $img-load-transition-time ease-in-out,
    opacity $img-load-transition-time ease-in-out;
}

// OVERLAY HOVER APPEAR ANIMATION

$overlay-hover-transition-time: 0.25s;

.overlayContainer {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;

  -webkit-transition: opacity $overlay-hover-transition-time ease-in-out;
  -moz-transition: opacity $overlay-hover-transition-time ease-in-out;
  -o-transition: opacity $overlay-hover-transition-time ease-in-out;
  transition: opacity $overlay-hover-transition-time ease-in-out;
}

div.imgBox:hover + .overlayContainer,
.overlayContainer:hover {
  opacity: 1;
}

// SCALE IMAGE ON HOVER ANIMATION

$img-hover-transform-size: 1.1;
$scale-image-transition-time: 0.15s;

.scaleImg {
  -webkit-transition: transform $scale-image-transition-time ease-in-out;
  -moz-transition: transform $scale-image-transition-time ease-in-out;
  -o-transition: transform $scale-image-transition-time ease-in-out;
  transition: transform $scale-image-transition-time ease-in-out;
}

.scaleImg:hover {
  -webkit-transform: scale($img-hover-transform-size);
  -moz-transform: scale($img-hover-transform-size);
  -o-transform: scale($img-hover-transform-size);
  transform: scale($img-hover-transform-size);
}
