<a *ngIf="image.link" class="w-100 imgBox" [routerLink]="'/'+image.link"
  [ngClass]="{'padBox': image.shadow}">
  <ng-container *ngTemplateOutlet="imageTag"></ng-container>
</a>

<div *ngIf="!image.link" class="w-100"
  [ngClass]="{'padBox': image.shadow}">
  <ng-container *ngTemplateOutlet="imageTag"></ng-container>
</div>

<ng-template #imageTag>
  <img [src]="image.s3Key|keyToS3" [alt]="image.s3Key|filename"
    [ngClass]="{'customShadow': image.shadow, 'invisible' : loading, 'scaleImg': scaleImageHover}"
    [ngStyle]="{'width': image.icon && !isSmallScreen ? '12rem': '100%', 'cursor': image.link ? 'pointer' : 'auto'}" trackViewPort
    (isAtTop)="loadImageOnScroll($event)">
</ng-template>

<div *ngIf="image.subtitle" class="w-100 text-center mt-4">
  <p [innerText]="image.subtitle"></p>
</div>

<!-- Link/URL overlay: -->
<div class="position-absolute w-100 h-100 top-0 left-0 pe-2 overlayContainer" *ngIf="showOverlay">
  <div class="w-100 h-100 p-3 align-items-center d-flex overlayBox text-center">
    <a *ngIf="image.link && !image.url" class="montserrat-bold p-4 navLink" [routerLink]="'/'+image.link">
      {{image.link}}
    </a>

    <a *ngIf="image.url" class="montserrat-bold p-4 navLink" [href]="image.url" target="_blank"
      rel="noopener noreferrer">
      {{image.link ? image.link : image.url}}
    </a>
  </div>
</div>

<!-- Loading overlay: -->
<div class="position-absolute bottom-0 left-0 pe-2 w-100" [hidden]="!loading">
  <div class="row w-100 h-100 text-center align-items-center">
    <div class="col-12">
      <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading Image...</span>
      </div>
    </div>
  </div>
</div>