<!-- HEADER BUTTONS -->

<div class="container sticky-top py-3">
  <div class="row mb-2">
    <div class="col-auto">
      <button type="btn" class="btn btn-primary" (click)="savePage()" [disabled]="buttonDisable">
        Save Page
      </button>
    </div>

    <div class="col-auto">
      <button type="btn" class="btn btn-success" (click)="addTxtTile()" [disabled]="buttonDisable">
        + Add Text Tile
      </button>
    </div>

    <div class="col-auto">
      <button type="btn" class="btn btn-success" (click)="addImgTile()" [disabled]="buttonDisable">
        + Add Image Tile
      </button>
    </div>

    <div class="col-auto ms-auto">
      <button type="btn" class="btn btn-secondary" [routerLink]="'/' + route" [disabled]="buttonDisable">
        Go to /{{ route }}
      </button>
    </div>

    <!-- <div class="col-auto">
      <button type="btn" class="btn btn-secondary" (click)="scrollToPreview()">
        Preview page
      </button>
    </div> -->

    <div class="col-auto">
      <button type="btn" class="btn btn-danger" (click)="deletePage()" [disabled]="buttonDisable || true">
        Delete Page
      </button>
    </div>
  </div>

  <div class="row">
    <div *ngIf="successMessage !== ''" class="alert alert-success alert-dismissible fade show" role="alert">
      {{ successMessage }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div *ngIf="errorMessage !== ''" class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ errorMessage }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
</div>

<ng-container *ngFor="let tile of Tiles">
  <div class="bg-lightgray">
    <div class="container py-2">
      <div class="row">
        <div class="col-auto" *ngIf="!editPanelOpenMap.get(tile.order)">
          <button class="btn btn-primary" (click)="editComponent(tile.order)" [disabled]="buttonDisable">
            Edit tile
          </button>
        </div>

        <div class="col-auto" *ngIf="editPanelOpenMap.get(tile.order)">
          <button class="btn btn-primary" (click)="saveTile(tile.order)" [disabled]="buttonDisable">
            Save
          </button>
        </div>

        <div class="col">
          <app-order-scroll orientation="horizontal" [index]="tile.order" [maxIndex]="Tiles.length" (moveItem)="moveTile($event)">
          </app-order-scroll>
        </div>

        <div class="col">
          <button class="btn btn-outline-danger float-end" (click)="deleteTile(tile.order)" [disabled]="buttonDisable">
            Delete Tile
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container overflow-visible" *ngIf="editPanelOpenMap.get(tile.order)">
    <div class="row position-relative">
      <div [id]="'tile-scroll-id-' + tile.order" class="position-absolute" style="top: -150px"></div>

      <!-- EDIT TILE -->

      <div class="col">
        <app-tile-edit [tileNumber]="tile.order"> </app-tile-edit>
      </div>
    </div>

    <!-- BUTTON ROW TILE OPTIONS -->
  </div>

  <!-- TILE PREVIEW -->

  <ng-container [ngSwitch]="tile.type">
    <app-homepage-grid-image *ngSwitchCase="TileType.HomepageGrid">
    </app-homepage-grid-image>

    <app-title *ngSwitchCase="TileType.Title" [tile]="tile"> </app-title>

    <app-title *ngSwitchCase="TileType.Subtitle" [isSubtitle]="true" [tile]="tile">
    </app-title>

    <app-text-display *ngSwitchCase="TileType.Text" [tile]="tile">
    </app-text-display>

    <app-image-grid *ngSwitchCase="TileType.ImageGrid" [tile]="tile">
    </app-image-grid>

    <app-slideshow *ngSwitchCase="TileType.Slideshow" [tile]="tile">
    </app-slideshow>

    <app-vimeo-video *ngSwitchCase="TileType.VimeoVid" [tile]="tile">
    </app-vimeo-video>

    <app-youtube-video *ngSwitchCase="TileType.YoutubeVid" [tile]="tile">
    </app-youtube-video>

    <app-image-subtitle *ngSwitchCase="TileType.ImageSubtitle" [tile]="tile">
    </app-image-subtitle>

    <div *ngSwitchDefault class="container my-2">
      <ng-container *ngIf="true; then spinner"> </ng-container>
    </div>
  </ng-container>
</ng-container>

<ng-template #spinner>
  <div class="row my-5">
    <div class="col-12 text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading Portfolio...</span>
      </div>
    </div>
  </div>
</ng-template>