<div class="row">
  <div class="col">
    <div *ngFor="let key of Keys" class="row align-items-center">
      <ng-container *ngIf="key!=='order'">

        <div class="col-auto">
          <button class="btn btn-link" (click)="removeField(key)">
            x
          </button>
        </div>

        <div class="col-2">
          <label class="w-100 montserrat d-inline-block">
            {{key}}
          </label>
        </div>

        <div class="col">
          <app-input-field [tileNumber]="tileNumber" [imageNumber]="Image.order" [key]="key" [obj]="Image[key]">
          </app-input-field>
        </div>
      </ng-container>
    </div>

    <div class="row mt-3">
      <div class="col">
        <button *ngFor="let field of ImageFieldOptions" type="btn" class="btn btn-outline-success me-4"
          (click)="addField(field[0], field[1])">
          + {{field[0]}}
        </button>
      </div>
    </div>
  </div>

  <div class="col-auto">
    <button type="btn" class="btn btn-link" (click)="deleteImage()">
      Delete Image
    </button>
  </div>
</div>