<div class="row">
  <div class="col">
    <div *ngFor="let key of Keys" class="row align-items-center">
      <ng-container *ngIf="key!=='order'">
        <div class="col-auto">
          <button class="btn btn-link" (click)="removeField(key)">
            x
          </button>
        </div>

        <div class="col-2">
          <label class="w-100 montserrat d-inline-block">
            {{key}}
          </label>
        </div>

        <div class="col">
          <input *ngIf="typeOf(Image[key])==='number'" class="w-100 montserrat" type="number"
            [value]="Image[key]" (input)="changeImageNumber(key, $event)">

          <input *ngIf="typeOf(Image[key])==='boolean'" type="checkbox" [checked]="Image[key]"
            (change)="changeImageCheckbox(key, $event)">

          <input *ngIf="typeOf(Image[key])==='string'" class="w-100 montserrat" type="text"
            [value]="Image[key]" (input)="changeImageText(key, $event)">
        </div>
      </ng-container>
    </div>

    <div class="row align-items-center mt-3">
      <div class="col-3">
        <input class="montserrat w-100" type="text" placeholder="New Field Name" [value]="newFieldName"
          (input)="setNewFieldName($event)">
      </div>

      <div class="col">
        <button class="btn btn-outline-success me-4" (click)="addField('')">
          + text
        </button>
        <button class="btn btn-outline-success me-4" (click)="addField(0)">
          + number
        </button>
        <button class="btn btn-outline-success" (click)="addField(false)">
          + checkbox
        </button>
      </div>
    </div>
  </div>

  <div class="col-auto">
    <button type="btn" class="btn btn-link" (click)="deleteImage()">
      Delete Image
    </button>
  </div>
</div>