<div class="container spaceBelow">

  <app-row-width-adjust *ngIf="tile.style===SubtitleStyle.Left" [width]="tile.width">
    <div class="col-12 col-md-7">
      <p>{{tile.text}}</p>
    </div>
    <div class="col-12 col-md-5 order-first order-md-last mb-4">
      <app-image [image]="Images[0]"></app-image>
    </div>
  </app-row-width-adjust>

  <app-row-width-adjust *ngIf="tile.style!==SubtitleStyle.Left" [width]="tile.width">
    <div class="col-12 mb-2 text-center">
      <app-image [image]="Images[0]"></app-image>
    </div>
    <div class="col-12 text-center">
      <p>{{tile.text}}</p>
    </div>
  </app-row-width-adjust>

</div>