.fullscreen-menu {
  z-index: 99;
}

a {
  color: lightgray;
  text-decoration: none;
  font-size: xx-large;
  cursor: pointer;
}

a:hover {
  color: white;
  border: 2px solid lightgray;
  border-radius: 5px;
}
