<div *ngIf="menuOpen" class="fullscreen-menu position-fixed background-fade">
  <div class="container position-relative">
    <div class="text-center mb-3"><a routerLink="/services">Services</a></div>
    <div class="text-center mb-3"><a routerLink="/">Portfolio</a></div>
    <div class="text-center mb-3"><a routerLink="/about">About Me</a></div>
    <div class="text-center mb-3"><a routerLink="/books">Illustrated Books</a></div>
    <div class="text-center"><a [href]="videoReelUrl">Video Reel</a></div>
  </div>
</div>