<div class="container my-5">
  <div class="row">
    <div class="col-6">
      <button *ngIf="previousIndex > -1" class="btn btn-white w-100 d-flex" [routerLink]="'/' + orderedProjectLinks[previousIndex]">
        <span style="height: 30px; width: 30px">
          <svg id="chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M7.72 12.53a.75.75 0 010-1.06l7.5-7.5a.75.75 0 111.06 1.06L9.31 12l6.97 6.97a.75.75 0 11-1.06 1.06l-7.5-7.5z"
              clip-rule="evenodd" />
          </svg>
        </span>

        <p class="large my-0 ms-3 align-self-center">
          {{ orderedProjectLinks[previousIndex] }}
        </p>
      </button>
    </div>

    <div class="col-6">
      <button *ngIf="nextIndex > -1" class="btn btn-white w-100 d-flex" [routerLink]="'/' + orderedProjectLinks[nextIndex]">
        <p class="large ms-auto me-3 my-0 align-self-center">
          {{ orderedProjectLinks[nextIndex] }}
        </p>

        <span style="height: 30px; width: 30px">
          <svg id="chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 011.06-1.06l7.5 7.5z"
              clip-rule="evenodd" />
          </svg>
        </span>
      </button>
    </div>
  </div>
</div>