p.med {
  font-size: large;
}

p.big {
  font-size: xx-large;
}

button:hover p.projectText,
p.projectText:hover {
  border-bottom: 3px solid black;
  font-family: "Montserrat-Bold", Arial, sans-serif;
}
