<div *ngIf="!tile.images" class="container my-5">
  <div class="row" [ngClass]="{'mx-md-5': tile.margin}">
    <div *ngFor="let piece of tile.text|splitText:(tile.columns+colAdj)" class="col-12 col-sm">
      <p>{{piece}}</p>
    </div>
  </div>
</div>

<div *ngIf="tile.images && tile.images.length > 0" class="container">
  <div class="row" [ngClass]="{'mx-md-5': tile.margin}">
    <div class="col-12 col-md-7">
      <p>{{tile.text}}</p>
    </div>
    <div class="col-12 col-md-5 order-first order-md-last mb-4">
      <img class="w-100" [src]="tile.images[0].s3Key|keyToS3" [alt]="tile.images[0].s3Key|filename">
    </div>
  </div>
</div>