<div
  *ngIf="!isSubtitle"
  class="container text-center text-md-start my-3"
  [ngStyle]="{ 'margin-bottom.rem': tile.mb ?? 3 }"
>
  <app-row-width-adjust
    [width]="tile.width"
    [ngClass]="{ 'text-center': tile.center }"
  >
    <div class="col mb-3">
      <h1 [class]="tile.textClass">{{ tile.text }}</h1>
    </div>
  </app-row-width-adjust>
</div>

<div
  *ngIf="isSubtitle"
  class="container text-center text-md-start my-3"
  [ngStyle]="{ 'margin-bottom.rem': tile.mb ?? 1 }"
>
  <app-row-width-adjust
    [width]="tile.width"
    [ngClass]="{ 'text-center': tile.center }"
  >
    <div class="col">
      <h2 [class]="tile.textClass">{{ tile.text }}</h2>
    </div>
  </app-row-width-adjust>
</div>
