<nav id="navbar" class="navbar" [ngClass]="{'background-fade': menuOpen}" (window:resize)="onResize()">
  <div class="container">
    <div class="row position-relative">

      <div class="align-self-center homeButton" [ngClass]="{'col-12 order-1': isAtTop, 'col-sm-12 order-4': !isAtTop, 'position-absolute': smallScreen}">

        <div [ngStyle]="{'display': isHomepage ? 'none' : ''}">
          <a *ngIf="!smallScreen; else closeButton" class="montserrat navLink" routerLink="/"
            [ngStyle]="{'color': menuOpen ? 'white' : 'black', 'border-color': menuOpen ? 'white' : 'black'}" (click)="setMenuOpen(false)">
            Back
          </a>
        </div>
      </div>

      <div class="position-relative brandCol" [ngClass]="{'col-12 col-sm-4 order-2': isAtTop, 'col-6 order-1': !isAtTop}"
        [ngStyle]="{'height.px': isAtTop ? 100 : 60}">

        <a class="navbar-brand h-100" routerLink="/" [ngClass]="{'position-absolute top-50 start-50 translate-middle' : isAtTop}"
          (mouseover)="mouseOverBrand(true)" (mouseout)="mouseOverBrand(false)" (click)="clickBrand()">
          <img class="h-100 scaleImage" [src]="brandLinks[brandSelection]" alt="[Ryan Fennessey]" [ngStyle]="{'background-color' : menuOpen ? '' : 'white'}">
        </a>
      </div>

      <div class="order-3 col-6 align-self-center" [ngClass]="{'col-6': !isAtTop, 'col-12': isAtTop}">

        <div [ngClass]="{'float-end': !isAtTop, 'text-center': isAtTop}">
          <input type="checkbox" id="navbar-menu" [checked]="menuOpen" disabled>
          <label id="navbar-menu-icon" for="navbar-menu" class="scaleMenu p-1" [ngStyle]="{'background-color' : menuOpen ? '' : 'white'}" (mousedown)="clickMenuButton()">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
      </div>

    </div>
  </div>
</nav>

<ng-template #closeButton>
  <button *ngIf="!menuOpen" routerLink="/" type="button" class="btn-close" aria-label="Close"></button>
</ng-template>