<nav id="navbar" class="navbar" (window:resize)="onResize()">
  <div class="container">
    <div class="row position-relative">

      <div class="col-12 col-sm-4 order-2 order-sm-1 align-self-center">
        <div [ngStyle]="{'display': isHomepage ? 'none' : ''}">
          <a *ngIf="!smallScreen; else closeButton" class="montserrat navLink" routerLink="/"
            [ngStyle]="{'color': menuOpen ? 'white' : 'black', 'border-color': menuOpen ? 'white' : 'black'}" (click)="setMenuOpen(false)">
            Back
          </a>
        </div>
      </div>

      <div class="position-relative col-12 col-sm-4 order-1 order-sm-2 brandCol"
        [ngStyle]="{'height.px': isAtTop ? 100 : 50}">

        <a class="navbar-brand h-100 position-absolute top-50 start-50 translate-middle p-0" routerLink="/" (click)="clickBrand()">
          <img class="h-100 scaleImage" [src]="brandLinks[brandSelection]" alt="[Ryan Fennessey]" [ngStyle]="{'background-color' : menuOpen ? '' : 'white'}">
        </a>
      </div>

      <div class="col-4 order-3"></div>

    </div>
  </div>
</nav>

<ng-template #closeButton>
  <button *ngIf="!menuOpen" routerLink="/" type="button" class="btn-close" aria-label="Close"></button>
</ng-template>