.container {
  display: block;
}

.background-regular {
  background-color: transparent;
}

$nav-transition-time: .25s;

.brandCol {
  -webkit-transition: height $nav-transition-time;
  -moz-transition: height $nav-transition-time ;
  -o-transition: height $nav-transition-time ;
  transition: height $nav-transition-time ;
}

a.navLink {
  text-decoration: none;
  font-size: large;
}

a.navLink:hover {
  border-bottom: 3px solid black;
}

.homeButton {
  top: 10px;
  left: 10px;
  z-index: 99;
}

img {
  border-radius: 12px;
}

label {
  border-radius: 5px;
}


// SCALE IMAGE ON HOVER

.scaleImage:hover {
  transform: scale(1.2);
}

$itemscale-transition-time: .25s;

.scaleImage {
  -webkit-transition: transform $itemscale-transition-time ease-in-out;
  -moz-transition: transform $itemscale-transition-time ease-in-out;
  -o-transition: transform $itemscale-transition-time ease-in-out;
  transition: transform $itemscale-transition-time ease-in-out;
}

// SCALE MENU ON HOVER

.scaleMenu:hover {
  transform: scale(1.5);
}

.scaleMenu {
  -webkit-transition: transform $itemscale-transition-time ease-in-out;
  -moz-transition: transform $itemscale-transition-time ease-in-out;
  -o-transition: transform $itemscale-transition-time ease-in-out;
  transition: transform $itemscale-transition-time ease-in-out;
}


// CREATE HAMBURGER MENU
// https://w3codepen.com/howto-html-css-hamburger-menu-icon/

input[type="checkbox"] {
  display: none;
}

#navbar-menu-icon {
  cursor: pointer;
}

#navbar-menu-icon span {
  display: block;
  position: relative;
  left: 0px;
  height: 4px;
  width: 30px;
  border-radius: 2px;
  margin: 4px;
  background: black;
}

$translate-down: 8px;

#navbar-menu:checked~#navbar-menu-icon span:nth-child(1) {
  background: white;
  -webkit-transform: translate(0px, $translate-down) rotate(135deg);
  -moz-transform: translate(0px, $translate-down) rotate(135deg);
  -o-transform: translate(0px, $translate-down) rotate(135deg);
  transform: translate(0px, $translate-down) rotate(135deg) ;
}

#navbar-menu:checked~#navbar-menu-icon span:nth-child(2) {
  background: white;
  opacity: 0;
  left: -25px;
}

$translate-up: -1 * $translate-down;

#navbar-menu:checked~#navbar-menu-icon span:nth-child(3) {
  background: white;
  -webkit-transform: translate(0px, $translate-up) rotate(-135deg);
  -moz-transform: translate(0px, $translate-up) rotate(-135deg);
  -o-transform: translate(0px, $translate-up) rotate(-135deg);
  transform: translate(0px, $translate-up) rotate(-135deg);
}

$transition-time: .3s;

#navbar-menu-icon span {
  -webkit-transition: $transition-time ease-in-out;
  -moz-transition: $transition-time ease-in-out;
  -o-transition: $transition-time ease-in-out;
  transition: $transition-time ease-in-out;
}
