.container {
  display: block;
}

.background-regular {
  background-color: transparent;
}

$nav-transition-time: .25s;

.brandCol {
  -webkit-transition: height $nav-transition-time;
  -moz-transition: height $nav-transition-time ;
  -o-transition: height $nav-transition-time ;
  transition: height $nav-transition-time ;
}

a.navLink {
  text-decoration: none;
  font-size: large;
}

a.navLink:hover {
  border-bottom: 3px solid black;
}

img {
  border-radius: 12px;
}

button {
  background-color: white;
  border-radius: 4px;
  position: fixed;
  left: 40px;
  top: 30px;
  z-index: 10000;
  opacity: 1;
}

$button-transform-size: 1.2;

button:hover {
  -webkit-transform: scale($button-transform-size);
  -moz-transform: scale($button-transform-size);
  -o-transform: scale($button-transform-size);
  transform: scale($button-transform-size);
}

$button-transition-time: .25s;

button {
  -webkit-transition: transform $button-transition-time ease-in-out;
  -moz-transition: transform $button-transition-time ease-in-out;
  -o-transition: transform $button-transition-time ease-in-out;
  transition: transform $button-transition-time ease-in-out;
}


// SCALE IMAGE ON HOVER

.scaleImage:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

$itemscale-transition-time: .25s;

.scaleImage {
  -webkit-transition: transform $itemscale-transition-time ease-in-out;
  -moz-transition: transform $itemscale-transition-time ease-in-out;
  -o-transition: transform $itemscale-transition-time ease-in-out;
  transition: transform $itemscale-transition-time ease-in-out;
}
