<nav id="navbar" class="navbar" [ngClass]="{'background-fade': menuOpen, 'background-regular': !menuOpen}">
  <div class="container">
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-4 position-relative brandCol" [ngStyle]="{'height.px': isAtTop ? 100 : 50}">
        <a class="navbar-brand position-absolute top-50 start-50 translate-middle h-100" routerLink="/"
          (mouseover)="mouseOverBrand(true)" (mouseout)="mouseOverBrand(false)" (click)="clickBrand()">
          <img class="h-100" [src]="brandLinks[brandSelection]" alt="[Ryan Fennessey]">
        </a>
      </div>
      <div class="col-4 align-self-center">
        <div class="float-sm-end text-center">
          <input type="checkbox" id="navbar-menu" [checked]="menuOpen" (change)="clickMenuButton()">
          <label id="navbar-menu-icon" for="navbar-menu">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</nav>