.container {
  display: block;
}

.background-regular {
  background-color: white;
}

$nav-transition-time: .2s;

.brandCol {
  -webkit-transition: height $nav-transition-time;
  -moz-transition: height $nav-transition-time ;
  -o-transition: height $nav-transition-time ;
  transition: height $nav-transition-time ;
}

a.navLink {
  font-family: "Montserrat", Arial, sans-serif;
  text-decoration: none;
  font-size: large;
}

a.navLink:hover {
  border-bottom: 3px solid black;
}

// https://w3codepen.com/howto-html-css-hamburger-menu-icon/

input[type="checkbox"] {
  display: none;
}

#navbar-menu-icon {
  cursor: pointer;
}

#navbar-menu-icon span {
  display: block;
  position: relative;
  left: 0px;
  height: 4px;
  width: 30px;
  border-radius: 2px;
  margin: 4px;
  background: black;
}

$translate-down: -11.5px;

#navbar-menu:checked~#navbar-menu-icon span:nth-child(1) {
  background: white;
  -webkit-transform: rotate(135deg) translate(0px, $translate-down);
  -moz-transform: rotate(135deg) translate(0px, $translate-down);
  -o-transform: rotate(135deg) translate(0px, $translate-down);
  transform: rotate(135deg) translate(0px, $translate-down);
}

#navbar-menu:checked~#navbar-menu-icon span:nth-child(2) {
  background: white;
  opacity: 0;
  left: -25px;
}

$translate-up: -1 * $translate-down;

#navbar-menu:checked~#navbar-menu-icon span:nth-child(3) {
  background: white;
  -webkit-transform: rotate(-135deg) translate(0px, $translate-up);
  -moz-transform: rotate(-135deg) translate(0px, $translate-up);
  -o-transform: rotate(-135deg) translate(0px, $translate-up);
  transform: rotate(-135deg) translate(0px, $translate-up);
}

$transition-time: .2s;

#navbar-menu-icon span {
  -webkit-transition: $transition-time ease-in-out;
  -moz-transition: $transition-time ease-in-out;
  -o-transition: $transition-time ease-in-out;
  transition: $transition-time ease-in-out;
}
