<div class="password-page">
  <div class="password-form">
    <div *ngIf="passwordLoading" class="w-100 d-flex flex-column align-items-center justify-content-center" style="height: 300px;">
      <p>Checking secure connection...</p>
      <div class="spinner-border" style="flex-shrink: 0;" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <form [hidden]="passwordLoading" class="jumbotron" (submit)="submitPassword()">
      <p class="mb-0">Enter password, or use the magic URL you were given</p>
      <input class="my-5" type="password" placeholder="Portfolio password" [formControl]="passwordControl" autofocus />
      <button type="submit" [disabled]="!this.passwordControl.value">
        Submit
      </button>
    </form>
  </div>

  <div class="password-bg">
    <app-image className="opacity-50" [image]="{ s3Key: 'static/Homepage Visual/Homepage_banner.gif', order: 1 }"></app-image>
  </div>
</div>