<div class="password-page">
  <div class="login-spacing" [ngClass]="{'text-center': passwordLoading}">
    <p *ngIf="passwordLoading">Authorizing...</p>

    <div *ngIf="passwordLoading" class="spinner-border" style="flex-shrink: 0;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>

    <form [hidden]="passwordLoading" class="jumbotron" (submit)="submitPassword()">
      <p class="mb-0">Enter password, or use the provided URL</p>
      <input class="my-5" type="password" placeholder="Portfolio password" [formControl]="passwordControl" autofocus />
      <button type="submit" [disabled]="!this.passwordControl.value">
        Submit
      </button>
    </form>
  </div>

  <app-image className="password-bg" [image]="{ s3Key: 'static/Homepage Visual/Homepage_banner.gif', order: 1 }"></app-image>
</div>