.footer {
  background-color: black;
}

a, p {
  color: lightgray;
  text-decoration: none;
}

a:hover {
  color: white;
  font-family: "Montserrat-Bold", Arial, sans-serif;
  border-bottom: 3px solid white;
}
