<div class="footer w-100 relative py-3 px-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-4 text-center text-sm-start">
        <!-- <div class="my-1">
          <a [href]="links.resume">Resume</a>
        </div>
        <div class="my-1">
          <a [href]="links.linkedin" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        </div>
        <div class="my-1">
          <button type="button" class="p-0 bg-transparent border-0" routerLink="/contact">Contact</button>
        </div> -->
      </div>
      <div class="col-12 col-sm-4 d-flex align-items-center justify-content-center">
        <img [src]="smallIcon" alt="[Ryan Fennessey]" height="64" />
      </div>
      <div class="col-12 col-sm-4 align-self-center text-center text-sm-end">
        <p class="my-0">©2022</p>
        <p *ngIf="envString.length > 0" class="my-0">{{ envString }}</p>
      </div>
    </div>
  </div>
</div>