<app-container-with-margins [width]="tile.width" [mt]="tile.mt" [mb]="tile.mb">
  <app-row-width-adjust [width]="tile.width">
    <div class="col-12 text-center youtube-video-container">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/_X2WiT0xYJk?si=sUe5PQmA-gbVPQpF" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </app-row-width-adjust>
</app-container-with-margins>