<div *ngIf="tile.hasFilters" class="container">
  <div class="row justify-content-center justify-content-md-end">
    <div *ngFor="let option of filterOptions" class="col-auto align-self-center" (click)="filterItems(option)">
      <a [ngStyle]="{'border-bottom': option===selectedFilter ? '3px solid black' : ''}">
        {{option}}
      </a>
    </div>
  </div>
</div>

<div *ngIf="!tile.width || tile.width!==Width.FULL; else fullScreen" class="container spaceBelow">
  <app-row-width-adjust *ngFor="let imgRow of Images|rowSplit:(tile.columns+colAdjSm)" [width]="tile.width">
    <div *ngFor="let img of imgRow" class="col">
      <app-image [image]="img"></app-image>
    </div>
  </app-row-width-adjust>
</div>

<ng-template #fullScreen>
  <div class="spaceBelow">
    <div *ngFor="let imgRow of Images|rowSplit:(tile.columns+colAdjSm)" class="row mx-1">
      <div *ngFor="let bigImg of imgRow" class="d-flex col g-2 position-relative" style="overflow: hidden">
        <app-image [image]="bigImg" [overlayVisible]="tile.imageOverlay"></app-image>
      </div>
    </div>
  </div>
</ng-template>

<div *ngIf="Images.length===0 && selectedFilter!=='All'" class="container spaceBelow">
  <h2>No images in category {{selectedFilter}}</h2>
</div>

<div *ngIf="Images.length===0 && selectedFilter==='All'" class="container spaceBelow">
  <h2>No images found</h2>
</div>