<div *ngIf="tile.hasFilters" class="container">
  <div class="row justify-content-center justify-content-md-end">
    <div *ngFor="let option of filterOptions" class="col-auto align-self-center" (click)="filterItems(option)">
      <a [ngStyle]="{'border-bottom': option===selectedFilter ? '3px solid black' : ''}">
        {{option}}
      </a>
    </div>
  </div>
</div>

<div *ngIf="!tile.width || tile.width!==Width.XL" class="container spaceBelow">
  <div *ngFor="let imgRow of Images|rowSplit:(tile.columns+colAdjSm)" class="row" [ngStyle]="{'margin': isMedium || !tile.width || tile.width===Width.L  ? '0' : tile.width===Width.M ? '0 8rem': tile.width===Width.S ? '0 16rem' : '0 24rem'}">
    <div *ngFor="let img of imgRow" class="col">
      <app-image [image]="img"></app-image>
    </div>
  </div>
</div>

<div *ngIf="tile.width===Width.XL" class="spaceBelow" >
  <div *ngFor="let imgRow of Images|rowSplit:(tile.columns+colAdjSm); index as row" class="row mx-1">
    <div *ngFor="let bigImg of imgRow; index as i" class="d-flex col g-3 g-sm-2 position-relative">
      <app-image [image]="bigImg" [overlay]="tile.imageOverlay"></app-image>
    </div>
  </div>
</div>

<div *ngIf="Images.length===0 && selectedFilter!=='All'" class="container spaceBelow">
  <h2>No images in category {{selectedFilter}}</h2>
</div>

<div *ngIf="Images.length===0 && selectedFilter==='All'" class="container spaceBelow">
  <h2>No images found</h2>
</div>
