<div *ngFor="let tile of Tiles; index as i" class="container mb-4 textareaParent">
  <textarea class="w-100 montserrat" [value]="json(tile)" (input)="changeTile($event)"></textarea>
  <button *ngIf="i>0" class="btn btn-info" (click)="moveTile(tile, -1)">Move Up</button>
  <button *ngIf="i<Tiles.length-1" class="btn btn-info float-end" (click)="moveTile(tile, 1)">Move Down</button>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col-6">
      <button type="btn" class="btn btn-primary" (click)="savePage()" [disabled]="invalidJson">
        Save Page to DynamoDB
      </button>
    </div>
    <div class="col-6">
      <button type="btn" class="btn btn-danger float-end" (click)="deletePage()">
        Delete Page
      </button>
    </div>
  </div>

  <div class="row text-center" *ngIf="resultMessage">
    <p>{{resultMessage}}</p>
  </div>
</div>

<div class="container mb-4">
  <hr style="height: 4px">
</div>

<app-page-display [page]="displayPage"></app-page-display>