<!-- HEADER/FOOTER BUTTONS -->

<div class="container mb-5">
  <div class="row">
    <div class="col-4">
      <button type="btn" class="btn btn-success" (click)="addTile()">
        Add New Tile
      </button>
    </div>
    <div class="col-4 text-center">
      <button type="btn" class="btn btn-primary" (click)="savePage()">
        Save Page to DynamoDB
      </button>
    </div>
    <div class="col-4">
      <button type="btn" class="btn btn-danger float-end" (click)="deletePage()">
        Delete Page
      </button>
    </div>
  </div>

  <div class="row text-center" *ngIf="resultMessage">
    <p>{{resultMessage}}</p>
  </div>
</div>

<hr style="height: 4px">

<ng-container *ngFor="let tile of page.tiles; index as i">
  <div class="container" style="overflow: hidden;">

    <!-- EDIT TILE -->

    <div class="row mb-2">
      <div class="col-auto">
        <button [disabled]="i===0" class="btn btn-success" (click)="moveTile(tile, -1)">
          &uarr; Move Up
        </button>
      </div>
      <div class="col-auto">
        <h3 class="my-auto primary">{{tile.order}}</h3>
      </div>
      <div class="col-auto">
        <button [disabled]="i===page.tiles.length-1" class="btn btn-success" (click)="moveTile(tile, 1)">
          &darr; Move Down
        </button>
      </div>

      <div class="col">
        <button class="btn btn-danger float-end" (click)="deleteTile(tile)">
          Delete Tile
        </button>
      </div>
    </div>

    <app-tile-edit [tile]="tile" (changeTile)="changeTile(tile, $event)" (removeKey)="removeKey(tile, $event)">
    </app-tile-edit>

    <!-- TILE PREVIEW -->

    <button class="btn btn-light mt-4 mb-0" (click)="tilePreviewMap.set(tile.order, !tilePreviewMap.get(tile.order))">
      <h6>Tile Preview {{tilePreviewMap.get(tile.order) ? '(close)' : '(open)'}}</h6>
    </button>
  </div>

  <ng-container *ngIf="tilePreviewMap.get(tile.order)">
    <hr style="height: 2px">

    <ng-container [ngSwitch]="tile.type">
      <app-title *ngSwitchCase="TileType.Title" [tile]="tile">
      </app-title>
  
      <app-title *ngSwitchCase="TileType.Subtitle" [isSubtitle]="true" [tile]="tile">
      </app-title>
  
      <app-text-display *ngSwitchCase="TileType.Text" [tile]="tile">
      </app-text-display>
  
      <app-image-grid *ngSwitchCase="TileType.ImageGrid" [tile]="tile">
      </app-image-grid>
  
      <app-slideshow *ngSwitchCase="TileType.Slideshow" [tile]="tile">
      </app-slideshow>
  
      <app-vimeo-video *ngSwitchCase="TileType.VimeoVid" [tile]="tile">
      </app-vimeo-video>
  
      <app-image-subtitle *ngSwitchCase="TileType.ImageSubtitle" [tile]="tile">
      </app-image-subtitle>
  
      <div *ngSwitchDefault class="container my-2">
        <ng-container *ngIf="true; then spinner">
        </ng-container>
      </div>
    </ng-container>
  </ng-container>

  

  <hr style="height: 4px">

</ng-container>

<!-- HEADER/FOOTER BUTTONS -->

<div class="container mb-5">
  <div class="row">
    <div class="col-4">
      <button type="btn" class="btn btn-success" (click)="addTile()">
        Add New Tile
      </button>
    </div>
    <div class="col-4 text-center">
      <button type="btn" class="btn btn-primary" (click)="savePage()">
        Save Page to DynamoDB
      </button>
    </div>
    <div class="col-4">
      <button type="btn" class="btn btn-danger float-end" (click)="deletePage()">
        Delete Page
      </button>
    </div>
  </div>

  <div class="row text-center" *ngIf="resultMessage">
    <p>{{resultMessage}}</p>
  </div>
</div>

<!-- PAGE PREVIEW -->

<div class="container">
  <h4>Page Preview:</h4>
</div>

<hr style="height: 4px">

<app-page-display [page]="page"></app-page-display>

<ng-template #spinner>
  <div class="row my-5">
    <div class="col-12 text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading Portfolio...</span>
      </div>
    </div>
  </div>
</ng-template>