/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: "Fugaz";
  src: local("Fugaz"), url(./assets/Fugaz_One/FugazOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(./assets/Montserrat/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat"), url(./assets/Montserrat/Montserrat-Bold.ttf) format("truetype");
}

.fugaz,
h1 {
  font-family: "Fugaz", Arial, sans-serif;
}

.montserrat,
p {
  font-family: "Montserrat", Arial, sans-serif;
}

.montserrat-bold {
  font-family: "Montserrat-Bold", Arial, sans-serif;
  font-weight: bold;
}

.background-fade {
  background-color: rgba(0, 0, 0, 0.75);
}

.spaceBelow {
  margin-bottom: 4rem !important;
}
