.footer {
  background-color: black;
}

a, p {
  font-family: "Montserrat", Arial, sans-serif;
  color: white;
  text-decoration: none;
}

a:hover {
  color: lightgray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
