<div class="footer mt-auto pt-3 pb-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul>
          <li><a [href]="brandResources.resume">Resume</a></li>
          <li><a [href]="brandResources.linkedin">LinkedIn</a></li>
          <li><a [href]="brandResources.email">xfennessey@gmail.com</a></li>
        </ul>
      </div>
      <div class="col text-center">
        <img [src]="brandResources.primary" alt="[Ryan Fennessey]" [height]="80">
      </div>
      <div class="col align-self-center">
        <p class="float-end">©2022 {{env}}</p>
      </div>
    </div>
  </div>
</div>